{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} {% trans "Images" %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="page-inner">
        <div class="page-header">
			<h4 class="page-title">{% trans "Patients" %}</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="{% url 'index' %}">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="{% url 'uploadImg' %}">{% trans "Ajouter Patient" %}</a>
				</li>
			</ul>
		</div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>{% trans "Ajouter Patient" %}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        {% if msg %}
                            <br/>
                            <p style="margin-left: 25px" class="{% if success %}text-success {% else %} text-danger{% endif %}">
                                {{ msg | safe }}
                            </p>
                        {% else %}
                            <p style="margin-left: 25px"></p>
                        {% endif %}
                        </div>
                    </div>
                    {% if success %}
                    <div class="row">
                        <div class="col-md-12">
                            <p style="margin-left: 25px">
                                Le Patient est enregistrée
                            </p>
                        </div>
                    </div>
                    {% else %}
                        <form method="POST" action="{% url 'addPatient' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </div>
                                            {{ form.firstName }}
                                        </div>
                                        <span class="text-danger">{{ form.firstName.errors }}</span>
									</div>
									<div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </div>
                                            {{ form.lastName }}
                                        </div>
                                        <span class="text-danger">{{ form.lastName.errors }}</span>
									</div>
 									<div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-envelope"></i>
                                                </span>
                                            </div>
                                            {{ form.email }}
                                        </div>
                                        <span class="text-danger">{{ form.email.errors }}</span>
                                    </div>
									<div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                            </div>
                                            {{ form.phone }}
                                        </div>
                                        <span class="text-danger">{{ form.phone.errors }}</span>
                                    </div>
                                </div>
                            </div>
							
							<div class="card-action">
                                <button type="submit" class="btn btn-success">{% trans "Enregistrer" %}</button>
                                &nbsp; &nbsp;
							 </div>
							 
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
