{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} {% trans "Liste des Notes" %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{% trans "Liste des Notes" %}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'index' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">{% trans "Liste des Notes" %}</a>
            </li>
        </ul>
    	
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title" style ="float: left;">
                        <span>{% trans "Liste des Notes" %}</span>
                    </div>
                    <div style ="float: right;" class="col-md-2">
                        <a href={% url 'addNote' imgId=img.id  %}  type="submit" class="btn btn-success text-light">{% trans "Ajouter" %}</a>
	
		            </div>
                    <div style ="float: right;" class="col-md-2">
                       
		            </div>
        
                </div>
                <div class="card-body">
               
                    <div class="table-responsive">
                        <table id="patientsTable" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <td>Date</td>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in notes %}
                                <tr>
                                    <td>{{note.id}}</td>
                                    <td>{{note.title}}</td>
                                    <td>{{note.date}}</td>
                                  
                                    <td>
                                        <div class="form-button-action">
                                         
                                            <a href={% url 'deleteNote' noteId=note.id  %} type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i class="fa fa-times"></i>
                                           </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Add Row
        $('#patientsTable').DataTable({
            "pageLength": 5,
        });
    });
    {% if add %}
	  //Notify
		$.notify({
			icon: 'flaticon-success',
			title: '{% trans "Image Enregistee avec succes" %}',
			message: '',
		},{
			type: 'success',
			placement: {
				from: "bottom",
				align: "right"
			},
			time: 1000,
		});
	{% endif %}
</script>

{% endblock javascripts %}
