{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} {% trans "Préparation" %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{% trans "Préparation" %}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'index' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="{% url 'uploadImg' %}">{% trans "Préparation" %}</a>
            </li>
        </ul>
       
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="form-group">
                        <div class="selectgroup w-100">
                            <label class="selectgroup-item" onclick="preparation()">
                                <input type="radio" name="value" value="50" class="selectgroup-input"
                                    checked="">
                                <span class="selectgroup-button">{% trans "Préparation" %}</span>
                            </label>
                            <label class="selectgroup-item" onclick="asymmetry()">
                                <input type="radio" name="value" value="100" class="selectgroup-input">
                                <span class="selectgroup-button">{% trans "Asymétrie" %}</span>
                            </label>
                            <label class="selectgroup-item" onclick="border()">
                                <input type="radio" name="value" value="150" class="selectgroup-input">
                                <span class="selectgroup-button">{% trans "Bordure" %}</span>
                            </label>
                            <label class="selectgroup-item" onclick="color()">
                                <input type="radio" name="value" value="200" class="selectgroup-input">
                                <span class="selectgroup-button">{% trans "Couleur" %}</span>
                            </label>
                            <label class="selectgroup-item" onclick="diameter()">
                                <input type="radio" name="value" value="200" class="selectgroup-input">
                                <span class="selectgroup-button">{% trans "Diamètre" %}</span>
                            </label>
                        </div>
                    </div>
                </br>
                    <div id="titleCard" class="card-title">{% trans "Etude préparatoire" %}</div>                   
                </div>

                  <!--//////////////////////// preparation Card //////////////////////////////-->
                <div class="card-body row" id="preparationCard">
                    <div class="card card-post card-round col-md-4 imgCard">
                        <img class="card-img-top zoom" src="{{details.preprocess.url}}">
                        <button style="position: absolute; right: 5%; margin-top: 10px;"
						 class="btn btn-icon btn-light btn-round btn-xs zoom ">
							<i class="fa fa-search-plus zoom"></i>
						</button>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    {% trans "Pretraitement" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-post card-round col-md-4 imgCard">
                        <img class="card-img-top zoom" src="{{details.segmentation.url}}">
                        <button style="position: absolute; right: 5%; margin-top: 10px;"
						 class="btn btn-icon btn-light btn-round btn-xs zoom ">
							<i class="fa fa-search-plus zoom"></i>
						</button>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    {% trans "Segmentation" %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-post card-round col-md-4 imgCard">
                        <img class="card-img-top zoom" src="{{details.posttraitement.url}}">
                        <button style="position: absolute; right: 5%; margin-top: 10px;"
						 class="btn btn-icon btn-light btn-round btn-xs zoom ">
							<i class="fa fa-search-plus zoom"></i>
						</button>
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="info-post ml-2">
                                    {% trans "Post Traitement" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


             <!--//////////////////////// asymmetry Card //////////////////////////////-->
            
                <div class="card-body row" id="asymmetryCard" style="display: none;">
                        <h3>asymmetryCard</h3>
                </div>

            <!--//////////////////////// border Card //////////////////////////////-->
            
                <div class="card-body row" id="borderCard" style="display: none;">
                     <h3>borderCard</h3>
                </div>

            <!--//////////////////////// color Card //////////////////////////////-->
            
            <div class="card-body row" id="colorCard" style="display: none;">
                    <h3>colorCard</h3>
            </div>


           <!--//////////////////////// diameter Card //////////////////////////////-->
            
            <div class="card-body row" id="diameterCard" style="display: none;">
                <div class="card card-post card-round col-md-4 imgCard">
                    <img class="card-img-top zoom" src="{{details.enclosingCircle.url}}">
                    <button style="position: absolute; right: 5%; margin-top: 10px;"
                     class="btn btn-icon btn-light btn-round btn-xs zoom ">
                        <i class="fa fa-search-plus zoom"></i>
                    </button>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post ml-2">
                                {% trans "Cercle Englobant" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-post card-round col-md-4 imgCard">
                    <img class="card-img-top zoom" src="{{details.openCircle.url}}">
                    <button style="position: absolute; right: 5%; margin-top: 10px;"
                     class="btn btn-icon btn-light btn-round btn-xs zoom ">
                        <i class="fa fa-search-plus zoom"></i>
                    </button>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="info-post ml-2">
                                {% trans "Avec perimetre" %}
                            </div>
                        </div>
                    </div>
                </div>


                
                    
            </div>


                <div id="zoomModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-size:20px;font-weight:bolder">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img class="img-responsive" id="imgModal" style="width:100%" src="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>

    {% if success %}
    //Notify
    $.notify({
        icon: 'flaticon-success',
        title: '{% trans "Image Enregistee avec succes" %}',
        message: '',
    }, {
        type: 'success',
        placement: {
            from: "bottom",
            align: "right"
        },
        time: 1000,
    });
    {% endif %}
    $('.imgCard').on('click',(e)=>{
        if($(e.target).hasClass('zoom')) {
        var src = $(e.target).closest('.imgCard').find('img').attr('src')
        var title = $(e.target).closest('.imgCard').find('.info-post').html()
        $('#zoomModal .modal-title').html(title)
        $('#imgModal').attr('src', src)
        $('#zoomModal').modal('show')
        }
    })

    function show(card){
        card.style.display='';
    }
    function hide(card){
        card.style.display='none';
    }
    function preparation()
    {   document.getElementById("titleCard").textContent="Etude préparatoire"
        var  preparationCard = document.getElementById("preparationCard")
        var  asymmetryCard = document.getElementById("asymmetryCard")
        var  borderCard = document.getElementById("borderCard")
        var  colorCard = document.getElementById("colorCard")
        var  diameterCard = document.getElementById("diameterCard")
     
        show(preparationCard)
        hide(asymmetryCard)
        hide(borderCard)
        hide(colorCard)
        hide(diameterCard)
    }

    function asymmetry(){
        document.getElementById("titleCard").textContent="Etude Asymétrie"
        var  preparationCard = document.getElementById("preparationCard")
        var  asymmetryCard = document.getElementById("asymmetryCard")
        var  borderCard = document.getElementById("borderCard")
        var  colorCard = document.getElementById("colorCard")
        var  diameterCard = document.getElementById("diameterCard")
     
        hide(preparationCard)
        show(asymmetryCard)
        hide(borderCard)
        hide(colorCard)
        hide(diameterCard)
    }

    function border(){
        document.getElementById("titleCard").textContent="Etude Bordure"
        var  preparationCard = document.getElementById("preparationCard")
        var  asymmetryCard = document.getElementById("asymmetryCard")
        var  borderCard = document.getElementById("borderCard")
        var  colorCard = document.getElementById("colorCard")
        var  diameterCard = document.getElementById("diameterCard")
     
        hide(preparationCard)
        hide(asymmetryCard)
        show(borderCard)
        hide(colorCard)
        hide(diameterCard)
    }

    function color(){
        document.getElementById("titleCard").textContent="Etude Couleur"
        var  preparationCard = document.getElementById("preparationCard")
        var  asymmetryCard = document.getElementById("asymmetryCard")
        var  borderCard = document.getElementById("borderCard")
        var  colorCard = document.getElementById("colorCard")
        var  diameterCard = document.getElementById("diameterCard")
     
        hide(preparationCard)
        hide(asymmetryCard)
        hide(borderCard)
        show(colorCard)
        hide(diameterCard)
    }

    function diameter(){
        document.getElementById("titleCard").textContent="Etude Diamètre"
        var  preparationCard = document.getElementById("preparationCard")
        var  asymmetryCard = document.getElementById("asymmetryCard")
        var  borderCard = document.getElementById("borderCard")
        var  colorCard = document.getElementById("colorCard")
        var  diameterCard = document.getElementById("diameterCard")
     
        hide(preparationCard)
        hide(asymmetryCard)
        hide(borderCard)
        hide(colorCard)
        show(diameterCard)
    }
    
       


</script>
{% endblock javascripts %}
