{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} {% trans "Images" %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">{% trans "Images" %}</h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="{% url 'index' %}">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="{% url 'uploadImg' %}">{% trans "Charger une Image" %}</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">{% trans "Charger une Image" %}</div>
					</div>
					<form id="uploadImg" method="POST" action="{% url 'uploadImg' %}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="card-body">
							<div class="row">
								<div class="form-group row">
									{% for field in form %}
										<div class="col-md-6">
											{{ field.label_tag }} {{ field }}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success" type="submit">{% trans "Charger" %}</button>
							<a class="btn btn-danger text-light" href="{{request.META.HTTP_REFERER}}">{% trans "Annuler" %}</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
	$('#uploadImg').on('submit', ()=>{
		$('#loader').show()
	})
	{% if success %}
	  //Notify
		$.notify({
			icon: 'flaticon-success',
			title: '{% trans "Image Enregistee avec succes" %}',
			message: '',
		},{
			type: 'success',
			placement: {
				from: "bottom",
				align: "right"
			},
			time: 1000,
		});
	{% endif %}
</script>
{% endblock javascripts %}
